
.profile-dropdown.hidden {
  display: none;
}
.profile-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}
.airbnb-home-text {
  font-size: 35px;
  color: red;
  cursor: pointer;
}
.Nav-container {
  display: flex;
  background: linear-gradient(180deg, #f2e7d5 0%, #e5d1c4 100%);
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #87898a;
}

ul {
  list-style-type: none;
  display: flex;
  gap:20px;
  /* background-color: aqua; */
}
li{
  display: inline;
  
  /* background-color: antiquewhite; */
}


/* ----------------Home -----------------*/
a {
  text-decoration: none;
  color: black;
  display:flex;
  align-items: center;
  /* background-color: rgb(173, 173, 240); */
  position: relative;
  bottom: -10px;
}
a:hover {
  color: red;
}
