.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1000; /* This ensures it appears in front of other elements */
  right: 0; /* Aligns the dropdown to the right of its container */
  top: 100%; /* Positions the dropdown just below its container */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

.profile-dropdown > * {
  margin-bottom: 10px; /* Adds space between items */
}

.profile-dropdown > *:last-child {
  margin-bottom: 0; /* Removes margin from the last item */
}

.airbnb-home-text {
  font-size: 35px;
  color: red;
  cursor: pointer;
}

.Nav-container {
  display: flex;
  background: linear-gradient(180deg, #f2e7d5 0%, #e5d1c4 100%);
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #87898a;
  position: relative; /* This helps with positioning the dropdown */
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

li {
  display: inline;
}

/* ----------------Home -----------------*/
a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  bottom: -10px;
}

a:hover {
  color: red;
}
